@import url(index.css);

body {
    color: var(--text-color);
}
.grid-container-article{
    width: 100vw;
    
}

header {
    padding: 0 0.5em;
}

.header-flex {
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}

header h1 {
    line-height: 2rem;
}

h2 {
    margin: auto;
    padding: 1em;
    font-size: 1.4rem;
}

header h3 {
    font-size: 0.9rem;
    font-weight: 300;
}

.intro p {
    padding: 1em;
}

header q {
    font-size: 0.8rem;
}

.author-section {
    display: flex;
    justify-content: start;
}

.author-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: url("../images/amanda.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.author-info {
    margin-left: 1em;
    text-align: start;
}

.author-info p {
    font-size: 0.8rem;  
}


.intro {
    padding: 0 0.5em;
}

.intro-img {
    height: 200px;
    width: auto;
    margin: auto;
    overflow: hidden;
    background: url("./images/grapefruit.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

figcaption {
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.3em;
}


.recipe1 {
    height: 200px;
    width: auto;
    margin: auto;
    overflow: hidden;
    background: url("./images/kiwi-granola.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.recipe2 {
    height: 200px;
    width: auto;
    margin: auto;
    overflow: hidden;
    background: url("./images/soup.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.recipe3 {
    height: 200px;
    width: auto;
    margin: auto;
    overflow: hidden;
    background: url("./images/ginger-tea.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

section p,
section ul {
    padding: 0 2em;
    line-height: 1.6em;
}

.social {
    padding: 1em;
}

.social .social-icons {
    margin-top: 0.3em;
    font-size: 1.5em;    
}

.social-icons i {
    color: rgb(126, 126, 126);
}

.footer-article {
    text-align: center;
    border-top: 1px solid rgba(39, 39, 39, 0.13);
    background-color: #fff;
}

.footer-article .logo {
    max-width: 40%;
}

.footer-article p {
    color: var(--text-color);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
    
}

/* ================================================================================*/
/* =========================  LATEST ARTICLES STYLES ==============================*/
/* ================================================================================*/

.latest-posts-flex h4 {
    text-transform: uppercase;
    font-weight: 300;
}

.latest-posts-flex h5 {
    font-weight: 200;
}


.latest-post-1 .card-image-latest-posts {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: url("../images/happy.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    margin: 1em 0;
    align-self: center;
    box-shadow: 0 0 7px rgba(33,33,33,.2);
}

.card-content-latest-posts {
    justify-self: start;
}

.latest-post-2 .card-image-latest-posts {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: url("../images/workout.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    margin: 1em 0;
    align-self: center;
    box-shadow: 0 0 7px rgba(33,33,33,.2);
}


.latest-post-3 .card-image-latest-posts {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: url("../images/pregnant.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    margin: 1em 0;
    align-self: center;
    box-shadow: 0 0 7px rgba(33,33,33,.2);
}

.card-content-latest-posts .article-category {
    text-transform: uppercase;
    font-weight: 300;
}

/* ================================================================================*/
/* =========================  phone style =========================================*/
/* ================================================================================*/

@media screen and (min-width: 320px) {

    .grid-container-article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: ;
        gap: 1.4rem;
    }

    .latest-posts-flex {
        display: flex;
        gap: 1em;
        align-items: center;    
    }

}

/* ================================================================================*/
/* =========================  tablet style ========================================*/
/* ================================================================================*/

@media screen and (min-width: 768px) {

    .grid-container-article {
        display: grid;
        grid-template-columns: 0.1fr auto auto 0.1fr;
        grid-template-rows: 0.1fr auto auto auto auto auto auto auto 0.1fr;
    }

    header {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .intro {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .recipe1-wrapper {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .recipe2-wrapper {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .recipe3-wrapper {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }

    .social {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }

    .latest-posts {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }

    .footer-article {
        grid-column: 1 / 4;
    }

    .header-flex {
        text-align: center;
    }
    
    .author-info p {
        display: block;
    }

    .intro-img,
    .recipe1,
    .recipe2,
    .recipe3 {
        min-height: 400px;
    }

    .author-section {
        justify-content: center;
    }
}

/* ================================================================================*/
/* =========================  desktop style =======================================*/
/* ================================================================================*/

@media screen and (min-width: 1024px) {
    .grid-container-article {
        display: grid;
        grid-template-columns: 0.1fr auto auto 0.1fr;
        grid-template-rows: 0.2fr 0.3fr 0.4fr 0.5fr 0.5fr 0.5fr 0.2fr 0.4fr 0.2fr;
    }






}