@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --text-color: #1E1E1E;
    --primary-color: #D06888;
    --tertiary-color: #87A5F6;
    --bg-color: #f2f2f2;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background: var(--bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a {
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;   
}
nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 11px 0px rgb(199, 199, 199);
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 1em;
}

nav ul a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.8em;
}

nav ul a:hover {
    color: var(--primary-color);
}

nav .logo img{
    max-height: 40px;
    padding-left: 1em;
}


.footer-homepage {
    background: #fff;
    text-align: center;
    border-top: 1px solid rgba(39, 39, 39, 0.13);
}

.footer-homepage p,
i {
    color: var(--text-color);
}

.footer-homepage .logo {
    max-width: 40%;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.more-posts-mindy,
.more-posts {
    text-align: center;
    padding: 4em;
}

.more-posts-mindy a,
.more-posts a {
    color: var(--primary-color);
}

/* ================================================================================*/
/* =====================cards' highlight styles ===================================*/
/* ================================================================================*/

.highlight-card:hover,
.highlight-card-mindy:hover,
#article-1:hover,
#article-2:hover,
#article-3:hover,
#article-4:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: scale(1.007);

}

.highlight-card,
.highlight-card-mindy {
    margin: 0 auto;
    transition: box-shadow .3s;
    transition: all .2s ease-in-out;
}

#article-1,
#article-2,
#article-3,
#article-4 {
    transition: box-shadow .3s;
    transition: all .2s ease-in-out;
}

.article-highlight h1 {
    margin: auto;
    padding: 1em;
    font-size: 1.4rem;
}

.highlight-card {
/*     border: 1px solid pink;*/
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    width: auto;
    height: 400px;
    border-radius: 20px;
    background-image: 
    linear-gradient(0deg, rgba(164,136,226,1) 0%, rgba(164,136,226,0.06) 100%), url("../images/power-boy.jpg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    position: relative;
    
}

.card-highlight-image {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.highlight-card .card-content,
.highlight-card-mindy .card-content {
    position: absolute;
    bottom: 0;

}

.card-content {
/*     border: 1px solid blue;*/
    padding: 2em;
}

.card-content .article-category {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0.3em;
}
    
.card-content .article-title {
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    margin-bottom: 0.3em;
    line-height: 2rem;
}

.card-content .article-date {
    font-size: 0.9em;
    font-weight: 200;
}

.highlight-card-mindy {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    width: auto;
    height: 400px;
    border-radius: 20px;
    background-image: 
    linear-gradient(0deg, rgba(164,136,226,1) 0%, rgba(164,136,226,0.06) 100%),
    url("../images/happy.jpg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.mindys-column h2 {
    padding: 1em;
    font-size: 1.4rem;
}

/* ================================================================================*/
/* =====================cards' article styles ===================================*/
/* ================================================================================*/

.cards {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    width: auto;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    
}


#article-1 .card-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: url("../images/grapefruit.jpg");
    background-position: center center;
    background-size: cover;
}

#article-2 .card-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: url("../images/workout.jpg");
    background-position: center center;
    background-size: cover;
}

#article-3 .card-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: url("../images/pregnant-couple.jpg");
    background-position: center center;
    background-size: cover;
}

#article-4 .card-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background: url("../images/pregnant.jpg");
    background-position: center center;
    background-size: cover;
}

/* ================================================================================*/
/* =========================  phone style  ========================================*/
/* ================================================================================*/
@media screen and (min-width: 320px) {
    .grid-container{
        /* background-color: rgb(227, 236, 149); */
        width: 100vw;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr 0.5fr 0.5fr 0.3fr 0.8fr 0.3fr 0.2fr;
        gap: 1.4rem;
    }
 
    nav {
        grid-row: 1 / 2;
        height: 50px;
    }
    
    .highlight {
        height: auto;
        padding: 0 0.5em;
    }
    
    .article {
        height: 400px;
        padding: 0 0.5em;
    }
    
    .highlight-1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .article-1 {
        grid-row: 3 / 4;
    }
    
    .article-2 {
        grid-row: 3 / 4;
    }
    
    .article-3 {
        grid-row: 4 / 5;
    }
    
    .article-4 {
        grid-row: 4 / 5;
    }
    
    .highlight-2 {
        grid-row: 5 / 6;
    }
    
    .footer-homepage {
        grid-row: 6 / 8;
    }
}


/* ================================================================================*/
/* =========================  tablet style  =======================================*/
/* ================================================================================*/

@media screen and (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 0.1fr auto auto 0.1fr;
        grid-template-rows: 0.1fr 0.8fr 0.5fr 0.5fr 0.3fr 0.8fr 0.2fr;
        gap: 1.4em;
    }

    nav {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .highlight {
        height: auto;
    }
    
    .article {
        height: 400px;
    }
    
    .highlight-1 {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }
    
    .article-1 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    
    .article-2 {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
    
    .article-3 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .article-4 {
        grid-column: 3 / 5;
        grid-row: 4 / 5;
    }

    .more-posts {
        grid-column: 1 / 5;
        grid-row: 5 / 6 ;
    }
    
    .highlight-2 {
        grid-column: 1 / 5;
        grid-row: 6 / 7;
    }
    
    .more-posts-mindy {
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }

    .footer-homepage {
        grid-column: 1 / 5;
        grid-row: 8 / 9;
    }
}



/* ================================================================================*/
/* =========================  desktop style =======================================*/
/* ================================================================================*/
@media screen and (min-width: 1024px) {

    .grid-container {
        display: grid;
        grid-template-columns: 0.1fr auto auto 0.1fr;
        grid-template-rows: 0.2fr 0.8fr 0.5fr 0.5fr 0.3fr 0.8fr 0.2fr;
        gap: 1.4em;
    }

    nav {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .highlight {
        height: auto;
        
    }
    
    .article {
        height: 400px;
    }

    .highlight-1 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    
    .article-1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .article-2 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    
    .article-3 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    
    .article-4 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    
    .more-posts {
        grid-column: 2 / 5;
        grid-row: 5 / 6;
    }

    .highlight-2 {
        grid-column: 2 / 4;
        grid-row: 6 / 7;
    }

    .more-posts-mindy {
        grid-column: 2 / 5;
        grid-row: 7 / 8;
    }
    
    .footer-homepage {
        grid-column: 1 / 5;
        grid-row: 8 / 9;
    }
}