@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --text-color: #1E1E1E;
    --primary-color: #D06888;
}

* {
    box-sizing: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* TODO diminuire il n. di colonne
    e fare le card quadrate cosi la grid è piu semplice da fare*/
    grid-gap: 1em;
}
.page-nav, footer{
    grid-column: 1 / 13;
}

.page-nav{
    display: flex;
}
article {
    border: 1px solid red;
    grid-column: 2 / 12;
}
/* TODO
.MORE-POSTS link da controllare come centrarli. Se usare grid o cos'altro
*/
.more-posts {
    grid-column: 5 / 10;
}
.page-nav {
    background-color: bisque;
}

.page-main {
    background-color: burlywood;
}

.page-footer{
    background-color: cornsilk;
}

/* MEDIA QUERIES */
@media screen and (min-width: 688px) {
    .page-main{
        background-color: yellowgreen;
    }

    .grid{ /* TODO sistemare query grid da qui.
        Che sia il caso di sistemare il layout in grid-template-areas?
        Perchè con grid-template-columns non riesco a far valere le card per due colonne
        (c'è un modo? cosi non dovrei usare grid-template-areas) */
        display: grid;
/*         grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        ". hl hl hl hl hl hl hl hl hl hl ."
        "card card card card card card card card card card card card"; */
/*         grid-template-columns: repeat(12, 1fr);
 */    }
    .page-nav {
   /*      grid-area: nav; */
/*         grid-column: 1 / 12; */
    }
    .article-highlight {
        border: 1px solid rgb(255, 30, 0);
        /* grid-column: 2 / 12; */
/*         grid-area: hl; */
    }
    
    #article-1,
    #article-2 {
        border: 5px solid blue;
       /*  grid-column: 2 / 12; */
       grid-row: 2 / 3;

    }
}

@media screen and (min-width: 992px) {
    .page-main{
        background-color: aqua;
    }
}

@media screen and (min-width: 1312px) {
    .page-main{
        background-color: pink;
    }
}