@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --text-color: #1E1E1E;
    --primary-color: #D06888;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* ================================================================================*/
/* =========================  phone style  ========================================*/
/* ================================================================================*/

@media screen and (min-width: 375px){
    .page-main{
        background-color: burlywood;
    }

    .page-main-posts{
        width: 100%;
        height: 0 auto;
        display: grid;
        gap: 50px;
    }

    .grid{
        border: 4px solid rgb(67, 182, 38);

        display: grid;
        
    }
    
    
    .page-nav, footer{

    }
    
    .page-nav{
        background-color: bisque;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .page-nav .logo img {
        border: 1px solid red;
        max-width: 50px;
    }
    
    .page-nav ul{
        border: 1px solid rgb(139, 135, 135);
        list-style-type: none;
        display: flex;
        padding: 1.2em;
    }
    
    .page-nav li a{
        padding: 2em;
    }
    
    
    article {
        border: 1px solid violet;
        margin: auto;
   }

    /* CARD STYLE */
    .cards{
        /*     border: 1px solid pink;*/
            box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
            width: 330px;
            height: 350px;
            border-radius: 20px;
            background-color: white;
            overflow: hidden;

        }

    .article-highlight{
        margin: 0 auto;
        border: 1px solid yellow;
        }
    .article-highlight h1{
     margin: auto;
     border: 1px solid yellow;
     padding: 1em 0;
    }
    .highlight-card{
        /*     border: 1px solid pink;*/
            box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
            width: 330px;
            height: 400px;
            border-radius: 20px;
            background-image: 
            linear-gradient(0deg, rgba(164,136,226,1) 0%, rgba(164,136,226,0.06) 100%), url("../images/power-boy.jpg");
            background-position: center center;
            background-size: cover;
            overflow: hidden;
            margin: auto;
            position: relative;
        }
    
    .card-highlight-image {
        border: 1px solid red;
        width: auto%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;

    }

    .highlight-card .card-content,
    .highlight-card-mindy .card-content{
        border: 1px solid black;
        position: absolute;
        bottom: 0;

    }
    
    #article-1 .card-image {
            border: 1px solid red;
            width: 100%;
            height: 50%;
            overflow: hidden;
            background: url("../images/grapefruit.jpg");
            background-position: center center;
            background-size: cover;
        }
    #article-2 .card-image {
            border: 1px solid red;
            width: 100%;
            height: 50%;
            overflow: hidden;
            background: url("../images/workout.jpg");
            background-position: center center;
            background-size: cover;
        }
    #article-3 .card-image {
        border: 1px solid red;
        width: 100%;
        height: 50%;
        overflow: hidden;
        background: url("../images/pregnant-couple.jpg");
        background-position: center center;
        background-size: cover;
    }

    #article-4 .card-image {
        border: 1px solid red;
        width: 100%;
        height: 50%;
        overflow: hidden;
        background: url("../images/pregnant.jpg");
        background-position: center center;
        background-size: cover;
    }
    .card-content{
        /*     border: 1px solid blue;*/
            padding: 2em;
            
        }

    .card-content .article-category{
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 0.4em;
        }
        
    .card-content .article-title{
            font-size: 1.3em;
            font-weight: 600;
            display: block;
            margin-bottom: 0.4em;
        }

        
    .card-content .article-date{
            font-size: 0.9em;
            font-weight: 200;
        }

    .highlight-card-mindy {
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        width: 330px;
        height: 400px;
        border-radius: 20px;
        background-image: 
        linear-gradient(0deg, rgba(164,136,226,1) 0%, rgba(164,136,226,0.06) 100%),
        url("../images/happy.jpg");
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        margin: auto;
        position: relative;

        }

    .mindys-column h2{
        padding: 1em 0;
    }

/* fine CARD STYLES */        
        
    .more-posts{
            color: green;
            text-align: center;
        }
        
    .more-posts a{
            color: var(--primary-color);
        }


    .page-footer{
        background-color: cornsilk;
        text-align: center;
    }

    .page-footer .logo{
        max-width: 10%;
    }
    
} 




/* ================================================================================*/
/* =========================  tablet style  =======================================*/
/* ================================================================================*/

@media screen and (min-width: 688px) {
    .page-main{
        background-color: yellowgreen;
    }

    .grid{ /* TODO sistemare query grid da qui.
        Che sia il caso di sistemare il layout in grid-template-areas?
        Perchè con grid-template-columns non riesco a far valere le card per due colonne
        (c'è un modo? cosi non dovrei usare grid-template-areas) */
        display: grid;
/*         grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav nav"
        ". hl hl hl hl hl hl hl hl hl hl ."
        "card card card card card card card card card card card card"; */
/*         grid-template-columns: repeat(12, 1fr);
 */    }
    .page-nav {
   /*      grid-area: nav; */
/*         grid-column: 1 / 12; */
    }
    .article-highlight {
        border: 1px solid rgb(255, 30, 0);
        /* grid-column: 2 / 12; */
/*         grid-area: hl; */
    }
    
    #article-1,
    #article-2 {
        border: 5px solid blue;
       /*  grid-column: 2 / 12; */
       grid-row: 2 / 3;

    }
}
/* ================================================================================*/
/* =========================  laptop style  =======================================*/
/* ================================================================================*/
@media screen and (min-width: 992px) {
    .page-main{
        background-color: aqua;
    }
}

/* ================================================================================*/
/* =========================  large screen style  =================================*/
/* ================================================================================*/
@media screen and (min-width: 1312px) {
    .page-main{
        background-color: pink;
    }
}